.dark-mode-comments-section::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.dark-mode-comments-section::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent background for the scrollbar track */
}

.dark-mode-comments-section::-webkit-scrollbar-thumb {
    background-color: #4a4a4a; /* Dark color for the scrollbar thumb */
    border-radius: 6px; /* Rounded corners for the scrollbar thumb */
}

.dark-mode-comments-section::-webkit-scrollbar-thumb:hover {
    background-color: #5a5a5a; /* Darker color for hover state of the scrollbar thumb */
}

/* Light mode scrollbar styles */
.light-mode-comments-section::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.light-mode-comments-section::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Light background for the scrollbar track */
}

.light-mode-comments-section::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Light color for the scrollbar thumb */
    border-radius: 6px; /* Rounded corners for the scrollbar thumb */
}

.light-mode-comments-section::-webkit-scrollbar-thumb:hover {
    background-color: #aaa; /* Darker color for hover state of the scrollbar thumb */
}